@media screen and (min-width: 758px) {
  .about-me-section {
    flex-direction: row;
    margin-bottom: 60px;
    gap: 40px;
    align-items: inherit;
  }

  .phrase-container {
    max-width: inherit;
  }

  .about-me-section--img {
    max-height: 400px;
  }

  /* .cards-container {
    justify-content: center;
  } */

  /* .swipe-right {
    display: none;
  } */

  .img-project {
    width: 200px;
  }

  .cards-container {
    gap: 50px;
  }

  header {
    position: inherit;
  }
}

@media screen and (min-width: 1240px) {
  .main {
    padding: 0 50px 30px 50px;
  }
  .card {
    min-width: 302px;
  }

  .img-project {
    width: 300px;
  }
}
